* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

:root {
    --darkblue: #00081d;
    --blue: #132144;
    --lightblue: #192952;
    --moredarkerblue:#000616;
    --red: #df0c13;
    --darkred: #b3070d;
    --white:#f5f5f1;
}
.container{
    max-width: 90%;
    margin: auto;
}
.display-none {
    display: none;
}
button {
    cursor: pointer;
}

/* header start */
header {
    background-color: var(--darkblue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
nav-bar {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}
/* header end */

/* hero start */
.hero {
    width: 100%;
    height: 450px;
    padding-top: 100px;
}
hero-section > .container {
    padding-top: 50px;
}
hero-section > .container > h1 {
    font-size: 60px;
}
hero-section > .container > h1, .hero-desc {
    color: white;
    text-align: center;
}
#searchContainer {
    text-align: center;
    padding-top: 20px;
}
#searchContainer>form>input {
    padding: 18px 10px;
    outline: none;
    border-radius: 12px;
    font-size: 16px;
}
.search-bar {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.39);
    border: 2px solid rgba(255, 255, 255, 0.199);
}
.search-bar:focus {
    color: var(--white);
    border: 2px solid rgba(255, 255, 255, 1);
}
#searchBtn {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: var(--white);
    width: 120px;
    cursor: pointer;
}
#searchBtn:hover {
    background-color: var(--darkred);
}
/* hero end */

/* popular movie start */
.section-wrapper {
    background-color: var(--darkblue);
    color: var(--white);
    padding-top: 50px;
}

.search-notif {
    display: flex;
    justify-content: space-between;
}


.section-wrapper > .container > h2 {
    margin-bottom: 30px;
}
.cards {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
#searchResult {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* card */
.card {
    width: 200px;
}
.img-container {
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.img-container > img {
    height: 100%;
    transition: 400ms;
}
.img-container > img:hover {
    height: 120%;
}
.card > h3 {
    margin-top: 10px;
}
.card > .rating-wrapper  {
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.fi-ss-star {
    color: #e0b700;
}
.detail-btn {
    background-color: var(--lightblue);
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--white);
    margin-top: 5px;
    border-radius: 10px;
    transition: 300ms;
    margin-bottom: 15px;
    cursor: pointer;
}
.detail-btn:hover {
    background-color: var(--blue);
}
::-webkit-scrollbar{
    height: 5px;
    width: 4px;
    background: none;
    margin-top: 20px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: var(--red);
    border-radius: 10px;
}
/* footer */
footer {
    padding: 30px 0;
    background-color: var(--moredarkerblue);
    color: var(--white);
}

/* modal */
.modal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 90%;
    padding: 2rem;
    height: 500px;
    position: fixed;
    z-index: 101;
    top: 20%;
    left: 5%;
    background-color: var(--darkblue);
    border-radius: 20px;
  }
  .modal .flex {
    display: flex;
    justify-content: space-between; 
    color: white;
  }
  .fi-ss-cross-circle{
    color: var(--white);
    font-size: 35px;
    cursor: pointer;
  }
  .fi-ss-cross-circle:hover{
    color: rgb(212, 212, 212);
  }
  .movie-detail {
    display: flex;
  }
  .image-detail {
    width: 35%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  .text-detail {
    width: 60%;
    margin-left: 5%;
    color: var(--white);
  }
  .text-detail > h1,h2,h3,p {
    text-align: left;
    margin-top: 10px;
  }
  .text-detail > h1 {
    font-size: 35px;
  }
  .text-detail > p {
    font-size: 14px;
  }
  .duration-rating {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
  }
  .fi-ss-clock {
    font-size: 20px;
  }
  .duration-rating > p {
    margin: -5px;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }

  /* responsive */
  @media screen and (max-width: 768px) {
    .hero-section > h1 {
        font-size: 45px;
    }
    .search-bar {
        width: 400px;
    }
    .text-detail > h1 {
        font-size: 25px;
    }
    .text-detail > h3 {
        font-size: 16px;
    }
      .text-detail > p {
        font-size: 12px;
    }
    .fi-ss-clock {
        font-size: 20px;
    }
    .duration-rating > p {
    margin: -5px;
    font-size: 12px;
    }
  }

  @media screen and (max-width: 480px) {
    .hero-section > h1 {
        font-size: 35px;
    }
    .search-bar {
        width: 260px;
    }
    .text-detail > h1 {
        font-size: 20px;
    }
      .text-detail > p {
        font-size: 11px;
    }
  }